<div class="app">
{% extends 'base.html' %}
{% block body %}

  <div class="container">

    <div class="main">
      <div class="top">
        <span class="bold item">samogen</span> <span>is something something & something</span>
      </div>


      <div class="middle">
        <button class="button" role="button">Button</button>
      </div>

      <div class="bottom">
        <a href="/message" class="">
          <p class=" item"><span class="bold">Create </span>art</p>
          <p class=" item"><span class="bold">This </span>is a template</p>
          <p class=" item"><span class="bold">Have  </span>fun</p>
          
         </a>
    </div>
  </div>


{% endblock body %}
</div>
